<div style="width: 70%" class="m-auto mt-5">
  <h1>Bookings</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Booking Id</th>
        <th>Booking Date</th>
        <th>Booking Start</th>
        <th>Booking End</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>23</td>
        <td>04/05/2021</td>
        <td>07/05/2021</td>
        <td>08/05/2021</td>
        <td>sofmedt</td>
      </tr>
      <tr>
        <td>25</td>
        <td>02/05/2021</td>
        <td>09/05/2021</td>
        <td>11/05/2021</td>
        <td>gofskedt</td>
      </tr>
      <tr>
        <td>26</td>
        <td>04/05/2021</td>
        <td>02/05/2021</td>
        <td>06/05/2021</td>
        <td>nlsnockd</td>
      </tr>
    </tbody>
  </table>
  </div>
