<form class="row g-3 m-auto mt-5" style="width:50%">
  <h1>Add Booking</h1>
  <div class="col-md-4">
    <label for="validationDefault03" class="form-label">Start Date</label>
    <input type="date" class="form-control" id="validationDefault03" required>
  </div>
  <div class="col-md-4">
    <label for="validationDefault03" class="form-label">End Date</label>
    <input type="date" class="form-control" id="validationDefault03" required>
  </div>
  <div class="col-md-8">
    <label for="validationDefaultUsername" class="form-label">Username</label>
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend2">@</span>
      <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Add Booking</button>
  </div>
</form>