<div style="width: 70%" class="m-auto mt-5">
<h1>Listings</h1>
<table class="table">
  <thead>
    <tr>
      <th>Listing Id</th>
      <th>Listing Title</th>
      <th>Description</th>
      <th>Street</th>
      <th>City</th>
      <th>Postal Code</th>
      <th>Price</th>
      <th>Email</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>12</td>
      <td>Some hotel</td>
      <td>best place to stay</td>
      <td>1 Santom street</td>
      <td>Toronto</td>
      <td>M9W4V4</td>
      <td>100</td>
      <td>soen@kdj.co</td>
      <td>soenkdj</td>
    </tr>
    <tr>
      <td>13</td>
      <td>other hotel</td>
      <td>best place to slive</td>
      <td>1 Jansuise street</td>
      <td>Toronto</td>
      <td>M9W3G5</td>
      <td>150</td>
      <td>soen@kdj.co</td>
      <td>soenkdj</td>
    </tr>
  </tbody>
</table>
</div>